<div id="categories-list">
  <h2> Categories List</h2>
  <table class="table table-hover">
    <thead>
    <tr class="">
      <th class="">Id</th>
      <th class="">Name</th>
      <th class="">UA Name</th>
      <th class="">Image</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <ng-template [ngTemplateOutlet]="loadTemplate(category)"
                   [ngTemplateOutletContext]="{$implicit: category}">
      </ng-template>
    </tr>
    </tbody>
  </table>

  <input type="button" value="add_box" class="btn btn-info material-icons" (click)="addCategory()"/>

  <ng-template #readOnlyTemplate let-category>
    <td (click)="editCategory(category)">{{category.id}}</td>
    <td (click)="editCategory(category)">{{category.name}}</td>
    <td (click)="editCategory(category)">{{category.uaName}}</td>
    <td>{{category.imageName}}</td>
    <td class="delete">
      <input type="button" value="delete" class="btn btn-danger material-icons form-control"
             (click)="deleteCategory(category)"/>
    </td>
  </ng-template>

  <ng-template #editTemplate>
    <td class="id">
      <input type="text" [(ngModel)]="editedCategory.id" readonly disabled class="form-control"/>
    </td>
    <td class="name">
      <input type="text" [(ngModel)]="editedCategory.name" class="form-control"/>
    </td>
    <td class="uaName">
      <input type="text" [(ngModel)]="editedCategory.uaName" class="form-control"/>
    </td>
    <td class="imageName">
      <input type="file" [(ngModel)]="editedCategory.imageName" (change)="selectFile($event)" class="form-control"/>
    </td>
  </ng-template>

</div>
