<div id="header" [ngClass]="{'dark-bg': !navbar.classList.contains('hidden')}" class="flex-row jc-flex-start align-items-center">
  <div class="responsive-menu">
    <a class="navbar-brand" routerLink="" title="Головна" (click)="closeResponsiveHeader()">
      <img src="assets/images/logo-white.svg" alt="logo" height="40">
    </a>
    <a class="menu-ico" (click)="toggleResponsiveHeader()">
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>
  </div>

  <div #navbar id="navbar" class="flex-row jc-flex-start align-items-center hidden" [@fadeInOut]>
    <div class="navbar-left">
      <ul class="navbar-left-ul flex-row jc-flex-start align-items-center" (click)="closeResponsiveHeader()">
        <li class="">
          <a class="nav-link" routerLink="products">КАТАЛОГ</a>
        </li>
        <!--<li class="">-->
          <!--<a class="nav-link" routerLink="services">ПОСЛУГИ</a>-->
        <!--</li>-->
        <li class="">
          <a class="nav-link" routerLink="delivery">ДОСТАВКА</a>
        </li>
        <li class="">
          <a class="nav-link" routerLink="contacts">КОНТАКТИ</a>
        </li>
      </ul>
    </div>

    <div class="navbar-right flex-row jc-flex-start align-items-center">
      <div class="search">
        <app-search-panel></app-search-panel>
      </div>
      <p class="vertical-line">&#124;</p>
      <a class="cart-ico" routerLink="cart" (click)="closeResponsiveHeader()" title="Корзина">
        <div class="cart-item">
          <img src="assets/images/shopping-bag-white.svg">
          <div *ngIf="cartService.cart?.orderList.length > 0" id="counter">
            <span>({{cartService.cart?.quantityTotal}})</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
