#footer {
  height: 250px;
  width: 100%;
  background-color: rgba(#002C40, 1);
  align-items: center;
  justify-content: center;
  color: #E4E4E4;
  font-size: 14px;
  padding: 10px 40px;
  overflow: hidden;

  #footer-nav, #copyright {
    width: 80%;

  }
  #footer-nav {
    height: 90%;

    & div {
      margin: 20px 0 0 0;
    }

    #footer-products {
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 10px;
    }

    ul {
      padding: 0;
      list-style-type: none;
      margin: 0;
    }

    .logo-column {
      margin: 0;
      align-items: center;
      justify-content: space-between;
      height: auto;
      padding: 0 10px;

      #footer-info {
        justify-content: center;
        align-items: flex-start;
      }
    }

    #footer-contacts {
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 10px;
    }
  }

  #copyright {
    div {
      width: 100%;
      img {
        height: 20px;
      }
    }
  }
}

a {
  color: #E4E4E4;
  text-decoration: none;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.phone, .email {
  display: inline;
  text-align: center;

  i {
    position: relative;
    top: 5px;
    margin-right: 5px;
  }
}

p {
  margin-bottom: 8px;
}

@media screen and (max-width: 960px) {
  #footer {
    padding: 0;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.ai-center {
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}
