#footer {
  height: 200px;
  width: 100%;
  background-color: rgba(#002C40, 0.9);
  align-items: center;
  justify-content: center;
  //padding: 0 20px;
  color: #E4E4E4;
  font-size: 14px;
  padding: 10px 40px;
  overflow: hidden;
  //position: absolute;
  //left: 0;
  //right: 0;
  //bottom: 0;

  #footer-nav {
    width: 80%;
    height: 90%;
    justify-content: space-between;
    align-items: center;


    & div {
      margin: 20px 0;
    }

    #footer-products {
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 10px;


    }

    ul {
      padding-left: 5px;
      list-style-type: none;
      margin: 0;


    }


    .logo-column {
      margin: 0;
      align-items: center;
      justify-content: space-between;
      height: auto;
      padding: 0 10px;


      #footer-info {
        justify-content: center;
        align-items: flex-start;

      }
    }

    #footer-contacts {
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 10px;


      //height: auto;

    }

    .logo {

    }
  }
}

a {
  color: #E4E4E4;
  text-decoration: none;
}

;

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

}

.flex-column {
  display: flex;
  //justify-content: flex-start;
  //align-items: flex-start;
  flex-direction: column;

}

.phone, .email {
  display: inline;
  text-align: center;

  i {
    position: relative;
    top: 5px;
    margin-right: 5px;
  }
}

.material-icons.md-light {
  font-size: 20px;
  //text-decoration: none;
  //outline: 0px !important;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

p {
  margin-bottom: 8px;
}

@media screen and (max-width: 960px) {
  #footer {
    padding: 0;
  }
}
