#sidebar {
  width: 250px;
  display: block;
  flex-direction: column;
  padding: 0 10px;

  p {
    margin: 10px 0 0;
  }

  .flex-direction-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //width: 200px;

    button {
      height: 25px;
      width: 150px;
      font-size: small;
      text-align: left;
      margin: 5px 0;
    }
  }
}
