#cart {
  color: #002C40;
  width: 100%;

  a {
    color: #002C40;
  }
  table {
    width: 100%;
    align-self: center;

    tr {
      height: 10px;

      th, td {
        vertical-align: middle;
        padding: 16px 16px 16px 0;
      }

      th {
        white-space: nowrap;
      }

      td {
        border-top: 1px solid rgba(#002C40, 0.1);
        border-bottom: 1px solid rgba(#002C40, 0.1);

        &:last-child {
          padding-left: 16px;
          border: none;
        }

        .img-container {
          width: 100px;
          height: 100px;
          overflow: hidden;

          img {
            width: 100%;
            height: auto;
            min-height: 100%;
            cursor: pointer;
          }
        }

        .category {
          margin: 0;
          font-weight: 700;
        }

        .price {
          margin: 0;
          font-weight: 700;
        }

        .cancel-filter-button {
          opacity: .7;
          height: 24px;
          background-color: transparent;
          border: none;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }

      &:first-child {
        align-content: center;
      }
    }
  }
}

img {
  height: 100px;
}

input {
  width: 50px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.quantity {
  width: 60px;

  button {
    background: none;
    outline: none;
    border: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    line-height: 0;
    text-align: center;
  }

  input[type=number] {
    border: none;
    outline: none;
    width: 30px;
    text-align: center;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
