<div *ngIf="cart.orderList?.length" id="cart" class="flex-column" [@fadeInOut]>
  <h4> Обрані товари:</h4>

  <table class="">
    <thead>
    <tr>
      <th style="width: 15%"></th>
      <th style="width: 60%"></th>
      <th style="width: 15%">Кількість</th>
      <th style="width: 10%">Сума</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cartService.cart?.orderList" [@fadeInOut]>
      <td>
        <div [routerLink]="['/products', item.product.productDetails.category.name, item.product.productNumber]"
        class="img-container">
          <img [src]="[imageUrl + item.product.images[0].imageName]">
        </div>
      </td>
      <td>
        <a [routerLink]="['/products', item.product.productDetails.category.name, item.product.productNumber]">
          <p class="category">{{item.product.productDetails.category.uaName}}</p>
          <p class="product-number">{{item.product.productNumber}}</p>
        </a>
        <p class="price">{{item.product.productDetails.price}}</p>
      </td>
      <td>
        <div class="quantity flex-row jc-flex-end align-items-center">
          <button (click)="quantity.control.reset(quantity.value-1)">-</button>
          <input #quantity='ngModel' type="number" min="0" step="1" pattern="\d+" [(ngModel)]="item.quantity" (ngModelChange)=onChangeQuantity(item)>
          <button (click)="quantity.control.reset(quantity.value+1)">+</button>
        </div>
      </td>
      <td>{{item.product.productDetails.price*item.quantity}}</td>
      <td>
        <img class="cancel-filter-button" src="assets/images/close_black.svg" (click)="cartService.removeItemByUUID(item.product.uuid)">
      </td>
    </tr>
    <tr>
      <th></th>
      <th>Разом:</th>
      <th>{{cartService.cart.quantityTotal}} шт.</th>
      <th>{{cartService.cart.total}} грн</th>
      <th></th>

    </tr>
    </tbody>
  </table>

</div>
