<div id="cart" class="col-md-6">
  <h2> Список обраних товарів:</h2>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th></th>
      <th>Назва</th>
      <th>Кількість</th>
      <th>Ціна</th>
      <th>Сума</th>
      <th>Видалити</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td><img src="http://localhost:8080/api/product-image/{{item.product.images[0].imageName}}"></td>
      <td>{{item.product.category.uaName}}<br>{{item.product.productNumber}}</td>
      <td><input type="number" min="0" step="1" pattern="\d+" [(ngModel)]="item.quantity" (ngModelChange)=onChangeQuantity(item)></td>
      <td>{{item.product.productDetails.price}}</td>
      <td>{{item.product.productDetails.price*item.quantity}}</td>
      <td>
        <button class="btn btn-danger" (click)="removeItemByProductNumber(item.product.productNumber)"><i class="material-icons">delete</i></button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>Разом:</td>
      <td>{{staticQuantityTotal}} шт.</td>
      <td></td>
      <td>{{total}} грн</td>
      <td></td>
    </tr>
    </tbody>
  </table>

</div>
