<app-breadcrumb-navigation></app-breadcrumb-navigation>
<div id="delivery">
  <h4>Доставка:</h4>
  <p>OptiCity пропонує наступні способи доставки:</p>
  <ul>
    <li>
      власна доставка у межах м. Львова: вартість - 40 грн;
    </li>
    <li>
      Нова Пошта: мін. вартість 40 грн <a href="https://novaposhta.ua/delivery">(детальніше)</a>;
    </li>
    <li>
      забрати товар самостійно у нашому магазині <a href="/contacts">(детальніше)</a>;
    </li>
    <li>
      можливий варіант доставки іншими поштовими перевізниками.
    </li>
  </ul>
</div>
