#product-details {
  position: relative;
  padding-left: 20px;

  .forward {
    width: 500px;
  }

  .description {
    p {
      margin: 0;
    }

    .leftside {
      width: 500px;
      //margin-right: 20px;

      .added-imgs {
        width: 100px;
        margin-right: 10px;
        //display: flex;
        //flex-direction: column;
        //justify-content: flex-start;

        img {
          width: 100px;
          margin-bottom: 5px;
          cursor: pointer;
        }
      }

      .img-placeholder {
        width: 350px;
        height: 350px;
        display: flex;
        align-items: flex-start;

        img {
          width: inherit;
          cursor: pointer;
        }

      }
    }

    .rightside {
      #category-types-imgs {
        justify-content: flex-start;

        .category-type-img {
          width: 100px;
          height: 100px;
          margin-right: 5px;

          img {
            width: auto;
            height: 100px;
            max-width: 100px;
            max-height: 100px;
            cursor: pointer;


          }
        }
      }

      #characteristics {

        #table-title {
        }

        #table {

          tr:nth-child(even) {

            background-color: #f0f0f5;

            th {
              width: 250px;
            }

            td {
              width: 500px;
            }

          }
        }
      }
    }

  }

  .flex-row {
    display: flex;
    flex-direction: row;
    //align-items: center;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }
}

.slider-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: #9E9EC4;
  opacity: .9;
  z-index: 15;
}

.slider {
  position: fixed;
  //height: 90vh;
  //width: 90vw;
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  max-height: 90vh;
  max-width: 90vw;
  color: #f0f0f5;
  background-color: #f0f0f5;
  //padding-top: 5vh;
  //top:-60px;
  //left:20px;
  z-index: 20;
  top: 5vh;
  left: 5vw;
  right: 5vw;
  //right:0;
  bottom: 5vh;
  opacity: 1;
}

.image-slider {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  max-height: 80vh;
  //vertical-align: middle;
  max-width: 80vw;
}

#previousImage, #nextImage {
  position: absolute;
  top: 0px;
  height: 90vh;
  width: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
}

#previousImage {
  left: 0px;
  justify-content: flex-start;
}

#nextImage {
  left: 50%;
  justify-content: flex-end;
}

.close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0px;
  left: 100%;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
}

button:active, button:visited, button:link {
  background-color: transparent;
  border: none;
}

//.material-icons.md-light {
//  color: rgba(255, 255, 255, 1);
//}
//
//.material-icons.md-light:hover {
//  color: hotpink;
//}


.active {
  //box-sizing: border-box;

  outline: 2px solid blue;
  outline-offset: -2px;

}
