#order {
  margin-top: 8px;

  & > div {
    width: 80%;
  }

  button {
    padding: 0 20px;
    font-size: 16px;
    color: white;
    background-color: #002C40;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 150px;
    border: none;
    outline: none;
    margin: 16px;
    align-self: flex-end;
    transition: all ease .25s;

    &:active {
      background-color: rgba(#002C40, .7);
    }

    &:disabled {
      background-color: rgba(#002C40, .3);
      cursor: default;
    }
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.jc-flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}
