<app-breadcrumb-navigation></app-breadcrumb-navigation>
<div id="order" class="flex-column align-items-center">
  <div class="flex-column">
    <app-cart></app-cart>
    <button *ngIf="!showOrderDetails && cart?.orderList.length > 0 else chooseProducts"
            (click)="scrollToOrderDetails()">ОФОРМИТИ
    </button>
  </div>

  <div id="order-details" #target *ngIf="showOrderDetails" class="flex-column" [@fadeInOut]>
    <app-order-details [buyerContactsForm]="buyerContactsForm"></app-order-details>

    <button [disabled]="!isBuyerContactsFormValid || !isDeliveryAdressFormValid ||totalCartQuantity <1"
            (click)="order()">ЗАМОВИТИ
    </button>
  </div>

  <ng-template #chooseProducts>
    <div *ngIf="cartService.cart?.orderList.length == 0" class="" routerLink="/products" [hidden]="totalCartQuantity > 0">
      <h4>Корзина пуста :(</h4>
      <button title="Оберіть товар">КАТАЛОГ</button>
    </div>
  </ng-template>
</div>

<app-spinner-overlay *ngIf="showSpinner"></app-spinner-overlay>
