<div id="add-product">
  <div>
    <p>Новий продукт:</p>
  </div>

  <form [formGroup]="addProductForm" novalidate
        (ngSubmit)="addProduct()">

    <div class="form-group">
      <div class="flex-row">
        <div>
          <input class="form-control" type="text" name="modelNumber" placeholder="Артикул *"
                 formControlName="modelNumber"
                 [ngClass]="checker('modelNumber')">
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('productPrice')">Це поле є обов'язковим!</small>
    </div>

    <!--<div class="form-group">-->
    <!--<div class="flex-row">-->
    <!--<app-file-uploader [progress]="progress" [ngClass]="checker('productImage')" formControlName="productImage"></app-file-uploader>-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<input class="form-control" type="file" name="image.ts" value="Зображення *"&ndash;&gt;-->
    <!--&lt;!&ndash;formControlName="productImage"&ndash;&gt;-->
    <!--&lt;!&ndash;[ngClass]="checker('productImage')">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<small class="form-text" *ngIf="isControlRequired('productImage')">Це поле є обов'язковим!</small>-->
    <!--</div>-->

    <div formArrayName="productImages">
      <div class="form-group" *ngFor="let productMainImage of addProductForm.controls['productMainImages'].controls; let i = index">
        <div>
          <div *ngIf="currentMainFileUpload" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                 attr.aria-valuenow="{{progressMain.percentage}}"
                 aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progressMain.percentage+'%'}">
              {{progressMain.percentage}}%
            </div>
          </div>
          <label class="btn btn-default">
            <input type="file" (change)="selectMainFile($event)" name="image" formControlName="{{i}}">
          </label>
          <button class="btn btn-success" [disabled]="!selectedMainFiles" (click)="upload()">Upload</button>
        </div>
      </div>
    </div>
    <div formArrayName="productImages">
      <div class="form-group" *ngFor="let productImage of addProductForm.controls['productImages'].controls; let i = index">
        <div>
          <div *ngIf="currentFileUpload" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                 attr.aria-valuenow="{{progress.percentage}}"
                 aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
              {{progress.percentage}}%
            </div>
          </div>
          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)" name="image" formControlName="{{i}}" multiple>
          </label>
          <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <select aria-label="13" class="form-control" name="category"
                  formControlName="productCategory"
                  [ngClass]="checker('productCategory')">
            <option disabled value="">Категорія товару*</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.uaName}}</option>
          </select>
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('productCategory')">Це поле є обов'язковим!</small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <input class="form-control" type="text" name="price" placeholder="Ціна *"
                 formControlName="productPrice"
                 title="лише цифри"
                 [ngClass]="checker('productPrice')">
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('productPrice')">Це поле є обов'язковим!</small>
      <small class="form-text" *ngIf="isControlPatterned('productPrice')">Введіть правильно ціну!</small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <select aria-label="13" class="form-control" name="lensColor"
                  formControlName="productLensColor"
                  [ngClass]="checker('productLensColor')">
            <option disabled value="">Колір лінзи *</option>
            <option *ngFor="let lensColor of lensColors" [value]="lensColor.id">{{lensColor.uaName}}</option>
          </select>
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('productLensColor')">Це поле є обов'язковим!</small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <input class="form-control" type="text" name="lensWidth" placeholder="Ширина лінзи *"
                 formControlName="productLensWidth"
                 title="лише цифри"
                 [ngClass]="checker('productLensWidth')">
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('productLensWidth')">Це поле є обов'язковим!</small>
      <small class="form-text" *ngIf="isControlPatterned('productLensWidth')">Введіть правильно довжину лінзи!</small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <input class="form-control" type="text" name="lensHeight" placeholder="Висота лінзи *"
                 formControlName="productLensHeight"
                 title="лише цифри"
                 [ngClass]="checker('productLensHeight')">
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('productLensHeight')">Це поле є обов'язковим!</small>
      <small class="form-text" *ngIf="isControlPatterned('productLensHeight')">Введіть правильно висоту лінзи!</small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <select aria-label="13" class="form-control" name="lensMaterial"
                  formControlName="productLensMaterial"
                  [ngClass]="checker('productLensMaterial')">
            <option disabled value="">Матеріал лінзи *</option>
            <option *ngFor="let lensMaterial of lensMaterials" [value]="lensMaterial">{{lensMaterial}}</option>
          </select>
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('productLensMaterial')">Це поле є обов'язковим!</small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <input class="form-control" type="text" name="totalWidth" placeholder="Загальна ширина *"
                 formControlName="productTotalWidth"
                 title="лише цифри"
                 [ngClass]="checker('productTotalWidth')">
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('productTotalWidth')">Це поле є обов'язковим!</small>
      <small class="form-text" *ngIf="isControlPatterned('productTotalWidth')">Введіть правильно загальну ширину!
      </small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <input class="form-control" type="text" name="bracketLength" placeholder="Довжина дужки *"
                 formControlName="productBracketLength"
                 title="лише цифри"
                 [ngClass]="checker('productBracketLength')">
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('productBracketLength')">Це поле є обов'язковим!</small>
      <small class="form-text" *ngIf="isControlPatterned('productBracketLength')">Введіть правильно довжину дужки!
      </small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <select aria-label="13" class="form-control" name="frameColor"
                  formControlName="productFrameColor"
                  [ngClass]="checker('productFrameColor')">
            <option disabled value="">Колір оправи *</option>
            <option *ngFor="let frameColor of frameColors" [value]="frameColor.id">{{frameColor.uaName}}</option>
          </select>
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('productFrameColor')">Це поле є обов'язковим!</small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <select aria-label="13" class="form-control" name="frameMaterial"
                  formControlName="productFrameMaterial"
                  [ngClass]="checker('productFrameMaterial')">
            <option disabled value="">Матеріал оправи *</option>
            <option *ngFor="let frameMaterial of frameMaterials" [value]="frameMaterial">{{frameMaterial}}</option>
          </select>
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('productFrameMaterial')">Це поле є обов'язковим!</small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <select aria-label="13" class="form-control" name="origin"
                  formControlName="productOrigin"
                  [ngClass]="checker('productOrigin')">
            <option disabled value="">Країна походження *</option>
            <option *ngFor="let origin of origins"
                    [value]="origin">{{origin}}</option>
          </select>
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('productOrigin')">Це поле є обов'язковим!</small>
    </div>


    <input type="submit" value="Додати продукт" [disabled]="addProductForm.invalid">


  </form>
</div>
