#add-product {
  select.is-valid {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

    &::-ms-expand {
      display: none;
    }
  }

  margin: 20px auto 20px 320px;

  .is-invalid {
    border-left: solid 6px red;
  }

  .is-default {
    //border: solid 1px blue;
  }

  br {
    content: " ";
    display: block;
    margin-top: 5px;
  }

  ul {
    margin-top: 5px;
    list-style-type: disc;
    font-size: 80%;
    padding-inline-start: 25px;
  }

  a {
    color: rgba(0, 44, 64, 0.81);

    &:hover {
      color: #002C40;
      text-decoration: none;
    }
  }

  .material-icons {
    display: inline-flex;
    vertical-align: middle;
  }

  form {
    input[type=text], input[type=email], input[type=tel], input[type=password], input[type=submit], input[type=file], select, #diopters {
      width: 300px;
    }


    app-file-uploader {
      height: 30px;
    }

    input[type=file] {
      border: none;
    }

  }

  small {
    margin-left: 10px;

    &.warning-text {
      color: red;
    }
  }

  .select-box {
    position: relative;
  }

  .select-box select {
    width: 100%;
  }

  .over-select {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #diopter-checkboxes {

    input[type="checkbox"] {
      margin: 6px 0px 6px 12px;
    }

    display: none;
    border: 1px #dadada solid;
    max-height: 50vh;
    overflow-x: hidden;
  }

  #diopter-checkboxes label {
    display: block;

  }

  #diopter-checkboxes label:hover {
    background-color: #1e90ff;
  }

}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.progress {
  width: 300px;
}
