@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-dark {
  color: rgba(#002C40, 1);
  margin: 0;
  padding: 0;
  line-height: 1em;
}


.mat-form-field.mat-focused .mat-form-field-label {
  color: white;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: white;
}

.mat-input-element {
  caret-color: white;
}

.mat-autocomplete-panel {
  background: rgba(#002C40, .9);
  color: #fff
}


.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #4d83c2 !important;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #4d83c2 !important;
}

.mat-button-focus-overlay, .mat-stroked-button.mat-primary .mat-button-focus-overlay {
  background-color: #4d83c2 !important;
}

.mat-badge-content {
  font-weight: 600;
  font-size: 12px;
  font-family: "Istok Web", sans-serif
}

.mat-h1, .mat-headline, .mat-typography h1 {
  font: 400 24px/32px "Istok Web", sans-serif;
  margin: 0 0 16px
}

.mat-h2, .mat-title, .mat-typography h2 {
  font: 500 20px/32px "Istok Web", sans-serif;
  margin: 0 0 16px
}

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  font: 400 16px/28px "Istok Web", sans-serif;
  margin: 0 0 16px
}

.mat-h4, .mat-subheading-1, .mat-typography h4 {
  font: 400 15px/24px "Istok Web", sans-serif;
  margin: 0 0 16px
}

.mat-h5, .mat-typography h5 {
  font: 400 11.62px/20px "Istok Web", sans-serif;
  margin: 0 0 12px
}

.mat-h6, .mat-typography h6 {
  font: 400 9.38px/20px "Istok Web", sans-serif;
  margin: 0 0 12px
}

.mat-body-2, .mat-body-strong {
  font: 500 14px/24px "Istok Web", sans-serif
}

.mat-body, .mat-body-1, .mat-typography {
  font: 400 14px/20px "Istok Web", sans-serif
}

.mat-caption, .mat-small {
  font: 400 12px/20px "Istok Web", sans-serif
}

.mat-display-4, .mat-typography .mat-display-4 {
  font: 300 112px/112px "Istok Web", sans-serif;
  margin: 0 0 56px;
  letter-spacing: -.05em
}

.mat-display-3, .mat-typography .mat-display-3 {
  font: 400 56px/56px "Istok Web", sans-serif;
  margin: 0 0 64px;
  letter-spacing: -.02em
}

.mat-display-2, .mat-typography .mat-display-2 {
  font: 400 45px/48px "Istok Web", sans-serif;
  margin: 0 0 64px;
  letter-spacing: -.005em
}

.mat-display-1, .mat-typography .mat-display-1 {
  font: 400 34px/40px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 64px
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #4d83c2
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: #4d83c2
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-ripple .mat-ripple-element {
  background-color: #4d83c2
}

.mat-form-field-infix::after {
  color: #4d83c2
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #4d83c2
}

.mat-icon.mat-primary {
  color: #4d83c2
}
