$base-height: 450px;
$base-width: auto;

#home-catalog {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 200px;

  .catalog-row {
    //margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    //height: 450px;
    //align-items: center;

    .catalog-row-item {
      cursor: pointer;
      margin: 20px;
      overflow: hidden;
      //border: 1px solid #ff4655;
      //width: 650px;
      height: 450px;
      vertical-align: middle;

      //.opacity {
      //  transition-duration: 1s;
      //  display: none;
      //  position: absolute;
      //  background-color: #002C40;
      //  opacity: 0.75;
      //  transition: display 5s;
      //  z-index: 1;
      //}

      .home-catalog-title {
        //display: block;
        position: relative;
        top: 55%;
        height: 20px;
        //line-height: 450px;
        text-align: center;
        color: white;
        z-index: 2;
        vertical-align: middle;
        width: auto;
        margin: 0;
        padding: 0;
        transition: all ease .25s;
      }

      .choose {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 10px;
        position: relative;
        height: 40px;
        width: 130px;
        border: 1px solid white;
        border-radius: 20px;
        top: 80%;
        right: -60px;
        text-align: left;
        vertical-align: middle;
        color: white;
        font-size: 14px;
        z-index: 2;
        line-height: 1;
        margin: 0;
        background: none;
        outline: none;
        img {
          height: 13px;
        }
      }

      .home-catalog-img {
        position: relative;
        width: auto;
        height: 450px;
        top: -60px;
        transition: all ease .25s;
      }

      //&:hover {
      //  .opacity {
      //    //border: 1px solid #fff;
      //    width: 650px;
      //    height: inherit;
      //    display: block;
      //    /*background-color: #002C40;*/
      //    /*opacity: 0.75;*/
      //    vertical-align: middle;
      //  }
      //}

      &:hover {
        .home-catalog-img, .home-catalog-title {
          transform: scale(1.05);
        }
        //.home-catalog-title {
        //  font-size: 1.05em;
        //}

        .choose {
          background: rgba(white, .1);
        }
      }
    }
  }


}

.overlay {
  position: relative;
  width: 100%;
  height: 200px;
  transform: scale(.5);

}
.height {
  height: $base-height;
}

.width {
  width: $base-width;
}

//#veloglasses-home-catalog-item {
//  width: 500px;
//}
//
//#sunglasses-home-catalog-item{
//  width: 800px;
//}
