$base-height: 450px;
$base-width: auto;

#home-catalog {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 200px;

  .catalog-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;

    .catalog-row-item {
      cursor: pointer;
      margin: 20px;
      overflow: hidden;
      height: 450px;
      vertical-align: middle;

      .home-catalog-title {
        position: relative;
        top: 55%;
        height: 20px;
        text-align: center;
        color: white;
        z-index: 2;
        vertical-align: middle;
        width: auto;
        margin: 0;
        padding: 0;
        transition: all ease .25s;
      }

      .choose {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 10px;
        position: relative;
        height: 40px;
        width: 130px;
        border: 1px solid white;
        border-radius: 20px;
        top: 80%;
        right: -60px;
        text-align: left;
        vertical-align: middle;
        color: white;
        font-size: 14px;
        z-index: 2;
        line-height: 1;
        margin: 0;
        background: none;
        outline: none;

        img {
          height: 13px;
        }
      }

      .home-catalog-img {
        position: relative;
        width: auto;
        height: 450px;
        top: -60px;
        transition: all ease .25s;
      }

      &:hover {
        .home-catalog-img, .home-catalog-title {
          transform: scale(1.05);
        }

        .choose {
          background: rgba(white, .1);
        }
      }
    }
  }
}

.overlay {
  position: relative;
  width: 100%;
  height: 200px;
  transform: scale(.5);
}

.height {
  height: $base-height;
}

.width {
  width: $base-width;
}
