.pagination {
  display: flex;
  align-items: center;
  margin: 0 0 16px;

  li {
    padding: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      cursor: pointer;
      color: rgba(#002C40, 0.7);

      img {
        height: 10px;
        opacity: .7;
      }

      &:hover {
        color: rgba(#002C40, 1);

        img {
          opacity: 1;
        }
      }
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
    }

    &.active {
      a,
      a:focus,
      a:hover,
      span,
      span:focus,
      span:hover {
        border: none !important;
        font-weight: bold;
        color: rgba(#002C40, 1);
      }
    }
  }
}
