.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #027FF4;
  border-color: #027FF4;
}

.pagination > .active > a:hover {
  color: white;
}

.pagination a {
  cursor: pointer;
}


.pagination {
  border: #002C40;
}

li {
  height: 35px;
  width: 35px;
  & img {
    height: 10px;
  }
}

