  <div id="product-details" [@fadeInOut]>
    <div class="flex-column jc-flex-start">
      <div class="head flex-row">
        <app-breadcrumb-navigation></app-breadcrumb-navigation>
        <div id="title">
          <h4>{{currentProduct?.productDetails.category.uaName}}</h4>
          <p><i>артикул {{currentProduct?.productNumber}}</i></p>
        </div>
      </div>

      <div class="description flex-row">

        <div class="leftside flex-column">
          <div class="img-placeholder flex-row jc-center align-items-center">
            <img *ngIf="mainImageUrl != null" [src]=mainImageUrl alt="image-placeholder" (click)="openSlider()">
          </div>
          <div class="added-imgs-carousel flex-row align-items-center">
            <button *ngIf="currentProductImages?.length > 1"
                    class="arrow-previous flex-row jc-center align-items-center" (click)="fetchPreviousImage()"><img
              src="assets/images/arrow_left_white.png" alt=""></button>
            <div id="added-imgs-container" class="flex-row">
              <div id="added-imgs" class="flex-row jc-flex-start align-items-center">
                <div class="img-container flex-row jc-center align-items-center"
                     [ngClass]="{active: image.imageName===mainImageName}" *ngFor="let image of currentProductImages">
                  <img src='https://api.opticity.com.ua/api/product-image/{{image.imageName}}' alt="img" (click)="changeImage(image.imageName)">
                </div>
              </div>
            </div>
            <button *ngIf="currentProductImages?.length > 1" class="arrow-next  flex-row jc-center align-items-center"
                    (click)="fetchNextImage()">
              <img src="assets/images/arrow_right_white.png" alt=""></button>
          </div>
        </div>

        <div class="right-side flex-column">
          <div class="price flex-row jc-space-between align-items-center">
            <h4>{{currentProduct?.productDetails.price}} грн</h4>
            <button class="add-to-cart flex-row jc-space-between align-items-center"
                 (click)="addItem(currentProduct.uuid, 1)">ДОДАТИ
              <img src="assets/images/shopping-bag-white.svg" alt="cart-ico">
            </button>
          </div>

          <div id="characteristics">
            <hr>
            <p class="table-title">
              <b>Характеристики:</b>
            </p>
            <table>
              <tr>
                <th>Тип:</th>
                <td>{{currentProduct?.productDetails.sex.uaName| lowercase}}</td>
              </tr>
              <tr>
                <th>Колір лінзи:</th>
                <td>{{currentProduct?.lensColor.uaName| lowercase}}
                  <img *ngIf="currentProduct?.lensColor.imageName" class="color"
                       [src]="lensColorUrl + currentProduct?.lensColor.imageName">
                </td>
              </tr>
              <tr>
                <th>Матеріал лінзи:</th>
                <td>{{currentProduct?.productDetails.lensMaterial.uaName| lowercase}}</td>
              </tr>
              <tr>
                <th>Колір оправи:</th>
                <td>{{currentProduct?.frameColor.uaName| lowercase}}
                  <img *ngIf="currentProduct?.frameColor.imageName" class="color"
                       [src]="frameColorUrl + currentProduct?.frameColor.imageName">
                </td>
              </tr>
              <tr>
                <th>Матеріал оправи:</th>
                <td>{{currentProduct?.productDetails.frameMaterial.uaName| lowercase}}</td>
              </tr>
              <tr>
                <th>Поляризація:</th>
                <td>{{currentProduct?.productDetails.polarization ? '+' : '-'}}</td>
              </tr>
              <tr *ngIf="currentProduct?.diopters.length">
                <th>Діоптрії:</th>
                <td>{{diopters}}</td>
              </tr>
            </table>

            <hr>

            <p class="table-title">
              <b>Розміри:</b>
            </p>
            <table>
              <tr>
                <th>Ширина лінзи(мм):</th>
                <td>{{currentProduct?.productDetails.lensWidth}}</td>
              </tr>
              <tr>
                <th>Висота лінзи(мм):</th>
                <td>{{currentProduct?.productDetails.lensHeight}}</td>
              </tr>
              <tr>
                <th>Ширина загальна(мм):</th>
                <td>{{currentProduct?.productDetails.totalWidth}}</td>
              </tr>
              <tr>
                <th>Довжина дужки(мм):</th>
                <td>{{currentProduct?.productDetails.bracketLength}}</td>
              </tr>
            </table>

          </div>

        </div>
      </div>

      <div *ngIf="auxiliaryProducts?.length" class="auxiliary-products-container flex-column jc-flex-start align-items-center">

        <p><b>Інші кольори цієї ж моделі:</b></p>
        <div id="auxiliary-products" class="flex-row jc-center align-items-center">
          <app-products-catalog-item *ngFor="let product of auxiliaryProducts"
                                     [productInput]="product"
                                     (click)="changeImage(currentProductImages[0].imageName)"></app-products-catalog-item>
        </div>
      </div>
    </div>
  </div>

<app-spinner-overlay *ngIf="showSpinner"></app-spinner-overlay>

<div *ngIf="showSlider">
  <div class="slider-background" (click)="closeSlider()"></div>
  <div class="slider">
    <div id="previousImage" (click)="fetchPreviousImage()">
      <button><img src="assets/images/arrow-previous.png"></button>
    </div>
    <img class="image-slider" [src]="mainImageUrl" alt="">
    <div id="nextImage" (click)="fetchNextImage()">
      <button><img src="assets/images/arrow-next.png"></button>
    </div>
    <img class="close-button" src="assets/images/close_white.png" (click)="closeSlider()">
  </div>
</div>
