.head {
  flex-wrap: wrap;

  app-breadcrumb-navigation {
    width: 675px;
    z-index: 500;
  }

  #title {

    h4, p {
      margin: 0 0 4px 0;
    }
  }
}

#product-details {
  padding: 16px 0;
  font-size: 14px;
  color: #002C40;

  .description {
    p {
      margin: 0;
    }

    .leftside {
      width: 675px;

      .added-imgs-carousel {
        position: relative;
        &:hover {
          .arrow-previous, .arrow-next {
            background-color: rgba(#002C40, .8);
          }
        }

        .arrow-previous, .arrow-next {
          &:active {
            background-color: rgba(#002C40, .5);
          }
        }

        #added-imgs-container {
          width: 624px;
          height: 115px;
          overflow-y: hidden;
          overflow-x: auto;
          margin: 16px 0 16px;

          &::-webkit-scrollbar {
            height: 0px;
          }

          #added-imgs {
            width: min-content;
            position: relative;

            .img-container {
              margin: 0 2px;
              width: 100px;
              height: 100px;
              overflow: hidden;

              img {
                width: 100%;
                height: auto;
                min-height: 100%;
                cursor: pointer;
              }
            }
          }
        }
      }

      .img-placeholder {
        width: 550px;
        height: 350px;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        align-self: center;

        img {
          width: auto;
          height: auto;
          max-width: 550px;
          max-height: 350px;
          cursor: zoom-in;
        }
      }
    }

    .right-side {
      .price {
        margin: 24px 0 16px;
        width: 380px;

        h4 {
          white-space: nowrap;
        }

        .add-to-cart {
          padding: 0 20px;
          font-size: 16px;
          color: white;
          background-color: #002C40;
          height: 40px;
          border-radius: 20px;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          width: 150px;
          border: none;
          outline: none;
          margin: 16px;
          align-self: flex-end;
          transition: all ease .25s;

          img {
            height: 24px;
            width: 24px;
          }

          &:active {
            background-color: rgba(#002C40, .7);
          }

          &:disabled {
            background-color: rgba(#002C40, .3);
            cursor: default;
          }
        }
      }

      #characteristics {
        hr {
          width: 500px;
          margin-left: 0;
        }

        .table-title {
          margin-top: 16px;
        }

        th {
          font-weight: 400;
          width: 250px;
          padding-top: 8px;
        }

        td {
          width: 350px;
          padding-top: 8px;

          .color {
            margin-left: 8px;
            border: 1px solid #002C40;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            background-position: center center;
            background-size: 100%;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

.auxiliary-products-container {
  margin: 48px 16px 16px 16px;
  p {
    margin: 0 0 16px 0;
  }

  #auxiliary-products {
    height: 210px;
    transform: scale(0.8);
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-space-between {
  justify-content: space-between !important;
}

.jc-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.slider-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(#002C40, 0.9);
  z-index: 1550;
}

.slider {
  position: fixed;
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  max-height: 90vh;
  max-width: 90vw;
  color: #f0f0f5;
  background-color: #f0f0f5;
  z-index: 1600;
  top: 5vh;
  left: 5vw;
  right: 5vw;
  bottom: 5vh;
  opacity: 1;
}

.image-slider {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  max-height: 80vh;
  max-width: 80vw;
}

#previousImage, #nextImage {
  position: absolute;
  top: 0px;
  height: 90vh;
  width: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: all ease .25s;

  img {
    height: 20px;
    opacity: .7;
    transition: all ease .25s;

    &:hover {
      opacity: 1;
    }
  }
}

#previousImage {
  left: 0px;
  justify-content: flex-start;
}

#nextImage {
  left: 50%;
  justify-content: flex-end;
}

.close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -20px;
  left: 100%;
  cursor: pointer;
  padding: 0;
  height: 20px;
  width: 20px;
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  transition: all ease .25s;

}

button:active, button:visited, button:link {
  background-color: transparent;
  border: none;
}

.active, .img-container:hover {
  outline: 2px solid rgba(#002C40, .5);
  outline-offset: -2px;
}

.arrow-previous, .arrow-next {
  background-color: rgba(#002C40, .5);
  width: 24px;
  height: 48px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  outline: none;

  img {
    height: 20px;
    width: 20px;
    position: relative;
  }
}

.arrow-previous {
  border-radius: 0 24px 24px 0;
  position: relative;
  left: 26px;
}

.arrow-next {
  border-radius: 24px 0 0 24px;
  right: 26px;
}
