//.breadcrumb {
//  padding: 10px 16px;
//  list-style: none;
//  background: none;
//
//  li {
//    display: inline;
//    font-size: 0.8em;
//    & + &:before {
//      padding: 8px;
//      color: darkgrey;
//      content: ">";
//    }
//
//    a {
//
//    }
//
//
//  }
//}

.breadcrumb {
  color: #002C40;
  padding: 10px 16px;
  list-style: none;
  background: none;
  margin: 0;
  white-space: nowrap;
  //display: flex;
  //justify-content: flex-start;
  //align-cartItems: center;

  li {
    display: inline;
    white-space: nowrap;

    .material-icons {
      font-size: 24px;
      color: #002C40;
      cursor: pointer;
    }

    a {
      color: #002C40;
      font-size: 14px;
      //font-style: italic;

      &.router-link-active {
        pointer-events: none;
        cursor: not-allowed;
        //font-size: 14px;
        color: rgba(#002C40, 0.6);
      }

      //text-decoration: none;
    }
  }

  li + li:before {
    padding: 8px;
    color: #002C40;
    content: "/";
  }
}

//.router-link-active {
//  pointer-events: none;
//  cursor: not-allowed;
//}

//ol.breadcrumb li+li:before {
//  padding: 8px;
//  color: darkgrey;
//  content: ">";
//}
//ol.breadcrumb li a {
//  color: #002C40;
//  //text-decoration: none;
//}
//ol.breadcrumb li a:hover {
//  //color: #01447e;
//  //text-decoration: underline;
//}


//.breadcrumb {
//  background: none;
//  font-size: 0.8em;
//  margin: 0;
//  display: flex;
//  justify-content: flex-start;
//  align-cartItems: center;
//  list-style: none;
//
//  a {
//    color: darkgrey;
//  }
//  a:hover {
//    color: dimgrey;
//    text-decoration: none;
//  }
//  li {
//    float: left;
//    margin: 5px;
//    display: flex;
//    justify-content: flex-start;
//    align-cartItems: center;
//  }
//  li:last-child {
//    margin-right: 20px;
//    pointer-events: none;
//    cursor: not-allowed;
//  }
//  li::after {
//    content: ">";
//    color: darkgrey;
//  }
//  li:last-child::after {
//    content: "";
//  }
//}
