.breadcrumb {
  color: #002C40;
  padding: 10px 16px;
  list-style: none;
  background: none;
  margin: 0;
  white-space: nowrap;

  li {
    display: inline;
    white-space: nowrap;

    .material-icons {
      font-size: 24px;
      color: #002C40;
      cursor: pointer;
    }

    a {
      color: #002C40;
      font-size: 14px;

      &.router-link-active {
        pointer-events: none;
        cursor: not-allowed;
        color: rgba(#002C40, 0.6);
      }
    }
  }

  li + li:before {
    padding: 8px;
    color: #002C40;
    content: "/";
  }
}
