#container {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0;

  position: relative;
  min-height: 100vh;

   #page-wrap {
    height: 60px;
    margin: 0;
    padding: 0;

    #header {
      height: 60px;
    }

    .sticky {
      background-color: rgba(0, 44, 64, 0.9);

      position: fixed;
      //top: 0;
      z-index: 1000;
      width: 100%;
    }
    .transparent-sticky {
      background-color: rgba(0, 44, 64, 0.5);

    }
  }

  .content {
    //margin-top: 60px;
    padding-bottom: 200px;
  }

  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    //width: 100%;
  }


}


//.sticky + .content {
//  padding-top: 80px;
//}
