#container {
  position: relative;
  min-height: 100vh;

  #header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  .content {
    margin-top: 60px;
    padding-bottom: 160px;
  }

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }


}


//.sticky + .content {
//  padding-top: 80px;
//}
