<div id="products-list" class="col-md-6">
  <h2> Products List</h2>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Product Number</th>
      <th>Category</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.productNumber}}</td>
      <td>{{product.categoryUaName}}</td>
      <td>{{product.price}}</td>
      <td><button class="btn btn-info" [routerLink]="[product.id, 'edit']"><i class="material-icons">edit</i></button></td>
      <td><button class="btn btn-danger" (click)="deleteProduct(product)"><i class="material-icons">delete</i></button></td>
    </tr>
    </tbody>
  </table>
</div>
