#buyer-contacts {
  width: 100%;
  color: #002C40;
  margin: 20px auto 20px /* 320px*/
;

  #buyer-info {
    width: 400px;
    margin-right: 16px;

    .name {
      width: 400px;

      .last-name {
        margin-left: 20px;
      }

      input[name=firstName] {
        width: 150px;
      }

      input[name=lastName] {
        width: 230px;
      }
    }
  }

  #delivery-info {
    margin-left: 16px;
    min-width: 300px;

    #adress > div {
      margin: 0 0 8px 0;

      input[name=adress] {
        height: 14px;
      }

      input[name=settlement], input[name=branch] {
        width: 100%;
      }

      label {
        //height: 24px;
        p {
          margin: 0 0 0 4px;
        }

        //span {
        //  font-size: 12px;
        //}

        img {
          height: 50px;
        }
      }
    }
  }

  form {

    label {
      font-size: 12px;
      margin: 0;
    }

    input {
      height: 32px;

      &:focus {
        border: 1px solid rgba(#002C40, .3);
      }

      &.is-valid {
        //border: 1px solid rgba(#002C40, 1);

      }

      &.is-invalid {
        //border-left: solid 6px red !important;
      }

      &.is-default {

        //border: 1px solid rgba(#002C40, .3);
      }
    }

    textarea {
      //border: 1px solid rgba(#002C40, 1);
    }

    input, textarea {
      font-size: 14px;
      padding: 0 8px;
      background: none;
      border-radius: 4px;


    }

    input[name=email], input[name=phoneList], select, textarea {
      width: 400px;


    }

  }

  p {
    font-size: 14px;
  }

  small {
    color: rgba(#002C40, .7);
    font-size: 12px;
    margin: 0;
  }

  .input-item {
    margin-top: 8px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.jc-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}


