<div id="buyer-contacts" class="flex-row jc-space-between">
  <div id="buyer-info">
    <!--<div>-->
    <h4>Особисті дані:</h4>
    <!--</div>-->

    <form [formGroup]="buyerContactsForm" novalidate (change)="makeOrder()">

      <div class="name input-item flex-row jc-space-between">
        <div class="first-name">
          <label>
            <span>Ім'я*</span>
            <input class="" type="text" name="firstName"
                   formControlName="userFirstName"
                   title="лише літери латинниці та кирилиці"
                   [ngClass]="checker(buyerContactsForm, 'userFirstName')">
          </label>
          <!--<br>-->
          <small class="" *ngIf="hasError(buyerContactsForm, 'userFirstName', 'required')">
            Обов'язкове поле!
          </small>
          <small class="" *ngIf="hasError(buyerContactsForm, 'userFirstName', 'pattern')">
            Лише літери кирилиці та латинниці!
          </small>
          <small class="" *ngIf="hasError(buyerContactsForm, 'userFirstName', 'size')">
            Від 2 до 30 знаків включно!
          </small>
        </div>

        <div class="last-name">
          <label>
            <span>Прізвище*</span>
            <input class="" type="text" name="lastName"
                   formControlName="userLastName"
                   title="лише літери латинниці та кирилиці"
                   [ngClass]="checker(buyerContactsForm, 'userLastName')">
          </label>
          <br>
          <small class="" *ngIf="hasError(buyerContactsForm, 'userLastName', 'required')">Обов'язкове поле!
          </small>
          <small class="" *ngIf="hasError(buyerContactsForm, 'userLastName', 'pattern')">Лише літери кирилиці
            та
            латинниці!
          </small>
          <small class="" *ngIf="hasError(buyerContactsForm, 'userLastName', 'size')">Від 2 до 30 знаків
            включно!
          </small>
          <small class="" *ngIf="hasError(buyerContactsForm, 'userLastName', 'minlength')">Мінімум 2 знаки!
          </small>
          <small class="" *ngIf="hasError(buyerContactsForm, 'userLastName', 'maxlength')">Максимум 30 знаків!
          </small>
        </div>
      </div>

      <div class="input-item">
        <label>
          <span>E-Mail*</span>
          <input class="" type="text" name="email"
                 formControlName="userEmail"
                 [ngClass]="checker(buyerContactsForm, 'userEmail')">
        </label>
        <br>
        <small class="" *ngIf="hasError(buyerContactsForm, 'userEmail', 'required')">Обов'язкове поле!</small>
        <small class="" *ngIf="hasError(buyerContactsForm, 'userEmail', 'email')">Введіть активний email!
        </small>
      </div>

      <div formArrayName="userPhones" class="input-item">
        <div *ngFor="let userPhone of buyerContactsForm.controls['userPhones'].controls; let i = index">
          <label>
            <span>
              Телефон*
            </span>
            <input class="" type="tel" name="phoneList"
                   formControlName="{{i}}"
                   [ngClass]="checker(buyerContactsForm, 'userPhones')">
          </label>
          <br>
          <small class="" *ngIf="userPhone.touched && userPhone.hasError('required')">
            Обов'язкове поле!
          </small>
          <small class=""
                 *ngIf="userPhone.touched && userPhone.hasError('pattern')">
            Введіть активний номер мобільного
          </small>
        </div>
      </div>

      <div class="input-item">
            <label>
              <span>Коментар</span>
              <textarea class="" maxLength="500" rows="3" type="text" name="comment" placeholder="макс. 500 символів"
                        formControlName="userComment"
                        title="коментар"></textarea>
            </label>
      </div>

    </form>
  </div>

  <div id="delivery-info">
    <h4>Доставка:</h4>
    <form [formGroup]="deliveryAdressForm" novalidate (change)="makeOrder()">

      <div class="">
        <div class="flex-row">
          <div id="adress" class="flex-column">
            <div class="flex-column">
              <div class="flex-row align-items-center">
                <input id="store" class="custom-radio" type="radio" name="adress"
                       formControlName="adress"
                       value="store" checked>
                <label for="store">
                  <p>Самовивіз</p>
                </label>
              </div>
              <small>просп. В. Чорновола, 67а, ринок "Старий лицар"</small>
            </div>
            <div class="flex-column">

              <div class="flex-row align-items-center">
                <input #np id="novaPoshta" type="radio" name="adress"
                       formControlName="adress"
                       value="novaPoshta">
                <label for="novaPoshta" class="flex-column">
                  <p>Нова Пошта</p>
                  <!--<img src="assets/images/order/logo-np.png" alt="Nova Poshta">-->
                </label>
              </div>
              <div *ngIf="np.checked" class="flex-column" [@fadeInOut]>
                <div class="">
                  <label class="full-width">
                    <span>Населений пункт*</span><br>
                    <input class="" type="text" name="settlement"
                           formControlName="settlement"
                           title=""
                           [ngClass]="checker(deliveryAdressForm, 'settlement')">
                  </label>
                  <br>
                  <small class="" *ngIf="hasError(deliveryAdressForm, 'settlement', 'required')">Обов'язкове поле!
                  </small>
                  <small class="" *ngIf="hasError(deliveryAdressForm, 'settlement', 'minlength')">Мінімум 2 знаки!
                  </small>
                </div>

                <!--<div class="flex-row">-->
                <div>
                  <label class="full-width">
                    <span>Номер відділення*</span><br>
                    <input class="" type="text" name="branch"
                           formControlName="branch" [required]="np.checked"
                           title=""
                           [ngClass]="checker(deliveryAdressForm, 'branch')">
                  </label>
                  <br>
                  <small class="" *ngIf="hasError(deliveryAdressForm, 'branch', 'required')">Обов'язкове поле!</small>
                </div>
                <!--</div>-->

              </div>
            </div>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>
