<form class="searchForm flex-row" [formGroup]="searchForm" novalidate (ngSubmit)="getSearchedPagedProducts()">
  <mat-form-field floatLabel="auto">
    <mat-label>Пошук...</mat-label>
    <input matInput type="search" aria-label="Search" [matAutocomplete]="auto"
           formControlName="search">
    <button class="close-btn" type="button" mat-icon-button *ngIf="searchForm.controls['search'].value != (null || '')"
            matSuffix mat-icon-button
            aria-label="Clear" (click)="clearSearch()">
      <img src="assets/images/close_white.png" alt="">

    </button>
    <mat-autocomplete class="autocomplete mat-autocomplete-panel" spellcheck="false" #auto="matAutocomplete">
      <mat-option class="option" (onSelectionChange)="selectProduct(product.productDetails.category.name, product.productNumber)"
                  *ngFor="let product of products" [value]="product.productNumber">
        <div class="flex-row">
          <div class="img-container">
            <img aria-hidden [src]="[imageUrl + product.images[0].imageName]">
          </div>
          <div class="cell flex-column">
            <span>{{product.productNumber}}</span>
            <small>{{product.productDetails.category.uaName}}</small>
          </div>
          <div class="price">
            <p>{{product.productDetails.price}} грн</p>
          </div>
        </div>
      </mat-option>
      <p class="searchAll" (click)="searchAllProducts()">показати усі товари</p>
    </mat-autocomplete>
  </mat-form-field>
  <button class="search-btn" mat-icon-button [disabled]="searchForm.controls['search'].value === (null || '')"
          type="submit" (click)="header.closeResponsiveHeader()" title="знайти">
    <img src="assets/images/search_white.png" alt="">
  </button>

</form>
