<!--<div id="scrollable-dropdown-menu">-->
<form class="searchForm flex-row" [formGroup]="searchForm" novalidate (ngSubmit)="getSearchedPagedProducts()">
  <!--<div id="scrollable-dropdown-menu">-->

  <!--<input id="search" class="form-control mr-sm-2 typeahead tt-query tt-menu" type="search" autocomplete="off" spellcheck="false"-->
  <!--placeholder="Пошук..." aria-label="Search" formControlName="search" [ngbTypeahead]="search"-->
  <!--[resultTemplate]="rt" [inputFormatter]="formatter">-->
  <!--<input id="search" class="form-control mr-sm-2 typeahead tt-query tt-menu" type="search" autocomplete="off" spellcheck="false"-->
  <!--placeholder="Пошук..." aria-label="Search" formControlName="search">-->
  <!--</div>-->
  <mat-form-field floatLabel="auto">
    <mat-label>Пошук...</mat-label>
    <input matInput type="search" aria-label="Search" [matAutocomplete]="auto"
           formControlName="search">
    <button class="close-btn" type="button" mat-icon-button *ngIf="searchForm.controls['search'].value != (null || '')"
            matSuffix mat-icon-button
            aria-label="Clear" (click)="clearSearch()">
      <!--<mat-icon class="m">close</mat-icon>-->
      <img src="assets/images/close_white.png" alt="">

    </button>
    <mat-autocomplete class="autocomplete mat-autocomplete-panel" spellcheck="false" #auto="matAutocomplete">
      <mat-option class="option" (onSelectionChange)="selectProduct(product.productDetails.category.name, product.productNumber)"
                  *ngFor="let product of products" [value]="product.productNumber">
        <div class="flex-row">
          <div class="img-container">
            <img aria-hidden [src]="[imageUrl + product.images[0].imageName]">
          </div>
          <div class="cell flex-column">
            <span>{{product.productNumber}}</span>
            <small>{{product.productDetails.category.uaName}}</small>
          </div>
          <div class="price">
            <p>{{product.productDetails.price}} грн</p>
          </div>
        </div>
      </mat-option>
      <p class="searchAll" (click)="searchAllProducts()">показати усі товари</p>
    </mat-autocomplete>
  </mat-form-field>
  <!--<mat-placeholder>Пошук...</mat-placeholder>-->

  <!--<ul class="filter-select">-->
  <!--<li tabindex="{{i+1}}" class="filter-select-list" *ngFor="let product of products; let i = index"-->
  <!--(keydown)="moveList($event)">-->
  <!--{{product.productNumber}}-->
  <!--</li>-->

  <!--</ul>-->
  <button class="search-btn" mat-icon-button [disabled]="searchForm.controls['search'].value === (null || '')"
          type="submit">
    <!--<mat-icon>search</mat-icon>-->
    <img src="assets/images/search_white.png" alt="">
  </button>

</form>
<!--</div>-->

<!--<ng-template #rt let-r="result" let-t="term">-->
<!--<img src="/api/product-image/5d1dc3e46d1bd680503848.jpg" alt="product main image" class="mr-1" style="width: 16px">-->
<!--<ngb-highlight [result]="r.productNumber" [term]="t"></ngb-highlight>-->
<!--<ngb-highlight [result]="r.category.uaName" [term]="t"></ngb-highlight>-->
<!--<hr>-->
<!--</ng-template>-->
<!--<template #rt></template>-->
