<div id="users-list" class="col-md-6">
  <h2> Products List</h2>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.password}}</td>
      <td><button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
