svg {
  position: absolute;
  top: 2px;
  left: 1px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 14px;
  stroke-dashoffset: 14px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.svg-checked {
  stroke-dashoffset: 0;
}
