<div id="signup">
  <div>
    <h3>Реєстрація:</h3>
    <p *ngIf="!submitted else successSubmitted">Я уже зареєстрований(-а). <a routerLink="/login">Увійти</a></p>
  </div>
  <ng-template #successSubmitted>
    <p>Ви успішно зареєстровані! <a routerLink="/api/login">Увійти</a></p>
  </ng-template>

  <form [formGroup]="signupForm" novalidate (ngSubmit)="addUser()">

    <div class="form-group">
      <div class="flex-row">
        <div>
          <input class="form-control" type="text" name="firstName" placeholder="Ім'я *"
                 formControlName="userFirstName"
                 title="лише літери латинниці та кирилиці"
                 [ngClass]="checker('userFirstName')">
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('userFirstName')">Це поле є обов'язковим!</small>
      <small class="form-text" *ngIf="isControlPatterned('userFirstName')">Введіть правильне імя!</small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <input class="form-control" type="text" name="lastName" placeholder="Прізвище *"
                 formControlName="userLastName"
                 title="лише літери латинниці та кирилиці"
                 [ngClass]="checker('userLastName')">
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('userLastName')">Це поле є обов'язковим!</small>
      <small class="form-text" *ngIf="isControlPatterned('userLastName')">Введіть правильне прізвище!</small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <input class="form-control" type="text" name="email"
                 placeholder="Email *"
                 formControlName="userEmail"
                 [ngClass]="checker('userEmail')">
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('userEmail')">Це поле є обов'язковим!</small>
      <small class="form-text" *ngIf="signupForm.controls['userEmail'].hasError('email')">Введіть активний email!
      </small>
    </div>

    <div formArrayName="userPhones">
      <div class="form-group" *ngFor="let userPhone of signupForm.controls['userPhones'].controls; let i = index">
        <div class="flex-row">
          <div>
            <input class="form-control" type="tel" name="phoneList"
                   placeholder="Номер мобільного *"
                   formControlName="{{i}}"
                   [ngClass]="checker('userPhones')">
          </div>
        </div>
        <small class="form-text"
               *ngIf="signupForm.controls['userPhones'].dirty && signupForm.controls['userPhones'].hasError('required')">
          Це поле є обов'язковим!
        </small>
        <small class="form-text"
               *ngIf="signupForm.controls['userPhones'].dirty && signupForm.controls['userPhones'].hasError('pattern')">
          Введіть активний номер мобільного
        </small>
      </div>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <input class="form-control" type="password" name="password" placeholder="Пароль *"
                 formControlName="userPassword"
                 [ngClass]="checker('userPassword')">
        </div>
      </div>
      <small class="form-text" *ngIf="isControlRequired('userPassword')">Це поле є обов'язковим!</small>
      <div [hidden]="signupForm.controls['userPassword'].valid || signupForm.controls['userPassword'].pristine"
           class="">
        <ul>
          Пароль повинен мати:
          <li
            [ngStyle]="{color: signupForm.controls['userPassword'].hasError('minlength') || isControlEmpty('userPassword') ? 'red' : 'black'}">
            принаймні 8 символів
          </li>
          <li
            [ngStyle]="{color: signupForm.controls['userPassword'].hasError('hasDigit') || isControlEmpty('userPassword') ? 'red' : 'black'}">
            принаймні 1 цифру
          </li>
          <li
            [ngStyle]="{color: signupForm.controls['userPassword'].hasError('hasCapitalLetter') || isControlEmpty('userPassword') ? 'red' : 'black'}">
            принаймні 1 велику літеру латинського алфавіту
          </li>
          <li
            [ngStyle]="{color: signupForm.controls['userPassword'].hasError('hasLowercaseLetter') || isControlEmpty('userPassword') ? 'red' : 'black'}">
            принаймні 1 малу літеру латинського алфавіту
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <input class="form-control" type="password" name="checkPassword" placeholder="Повторіть пароль *"
                 formControlName="userCheckPassword"
                 [ngClass]="checker('userCheckPassword')">
        </div>
      </div>
      <small class="form-text"
             *ngIf="signupForm.controls['userCheckPassword'].dirty && signupForm.controls['userCheckPassword'].hasError('noPassswordMatch')">
        Пароль не співпадає
      </small>
    </div>

    <div class="form-group">
      <div class="flex-row">
        <div>
          <select aria-label="13" class="form-control" name="source"
                  formControlName="userSource"
                  [ngClass]="checker('userSource')">
            <option disabled value="">Звідки Ви про нас дізналися? *</option>
            <option *ngFor="let source of sources" [value]="source">{{source}}</option>
          </select>
        </div>
      </div>
    </div>
    <input type="submit" value="ЗАРЕЄСТРУВАТИСЯ" [disabled]="signupForm.invalid">

  </form>
</div>
