<div id="sort-panel">
  <form class="flex-row" [formGroup]="sortPanelForm" novalidate>
    <div class="flex-row">
      <label>Сортувати:</label>
      <select name="sortBy" formControlName="sortBy">
        <option *ngFor="let sortOption of sortOptionsLabels" [value]="[sortOption]">{{sortOption}}</option>
      </select>
    </div>
    <div class="flex-row">
      <label>Показати:</label>
      <select name="pageSize" formControlName="pageSize">
        <option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption">{{pageSizeOption}}</option>
      </select>
    </div>
  </form>
</div>
