<div id="sort-panel" >

  <form class="flex-row" [formGroup]="sortPanelForm" novalidate>

  <div class="form-group">
    <!--<div class="flex-row">-->
      <div class="flex-row">
        <label for="sort-by"><i class="material-icons">unfold_more</i>Сортування:</label>
        <select aria-label="13" id="sort-by" class="form-control" name="sortBy"
                formControlName="sortBy">
          <!--<option [value]="[sortOptions[0]]">{{sortOptions[0].label}}</option>-->
          <option *ngFor="let sortOption of sortOptionsLabels" [value]="[sortOption]">{{sortOption}}</option>
        </select>
      </div>
    <!--</div>-->
  </div>
    <div class="form-group">
      <!--<div class="flex-row">-->
        <div class="flex-row">
          <label for="page-size"><i class="material-icons">apps</i>Показати:</label>
          <select id="page-size" aria-label="13" class="form-control" name="pageSize"
                  formControlName="pageSize">
            <!--<option disabled value="">Звідки Ви про нас дізналися? *</option>-->
            <option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption">{{pageSizeOption}}</option>
          </select>
        </div>
      <!--</div>-->
    </div>
  </form>
</div>
