.page-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.all-products {
  margin: 10px 15px;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
}

a {
  cursor: pointer;
}

.container {
  width: auto;
  bottom: 100vw;
}

.page-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
