<div class="flex-row">
  <app-breadcrumb-navigation></app-breadcrumb-navigation>
  <app-sort-panel></app-sort-panel>
</div>
<div class="page-row">
  <app-sidebar></app-sidebar>
  <div class="page-column">
    <app-catalog [productsInput]="products"></app-catalog>

    <app-pagination [navigateToInput]="navigateTo"></app-pagination>
  </div>
</div>
<!--<router-outlet></router-outlet>-->


<!--<app-breadcrumb-navigation></app-breadcrumb-navigation>-->
<!--<div class="page-row">-->
  <!--<app-sidebar></app-sidebar>-->
  <!--<div class="products-category">-->
    <!--<app-products-catalog-item *ngFor="let product of products" [productInput]="product"></app-products-catalog-item>-->
  <!--</div>-->
<!--</div>-->

