app-navigation {

}
.page-row {
  display: flex;
  flex-direction: row;
}

.products-category {
  margin: 10px 20px;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
