@import "styles/spinner";
@import "styles/material";

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.jc-center {
  justify-content: center;
}

$breakpoint1: "(max-width: 767px)";
$breakpoint2: "(min-width: 768px) and (max-width: 1279px)";
$breakpoint3: "(min-width: 1280px)";
