<div class="flex-row jc-space-between align-items-end wrap">
  <div class="flex-row jc-flex-start align-items-end wrap">
    <app-breadcrumb-navigation></app-breadcrumb-navigation>
    <h5 *ngIf="products?.length else notfound" class="total-items">
      Знайдено {{totalItems}} {{totalItems.toString().match('[1]$') ? "товар" :
      ((totalItems < 10 || totalItems > 20) && totalItems.toString().match('[234]$') ? "товари" : "товарів")}}</h5>
  </div>
  <app-sort-panel></app-sort-panel>
</div>
<div class="flex-row">
  <app-sidebar [filterForm]="filterForm"></app-sidebar>
  <div class="flex-column jc-space-between align-items-start">
    <div *ngIf="isLoading" class="overlay">
      <app-spinner></app-spinner>
    </div>
    <app-catalog [productsInput]="products"></app-catalog>
    <app-pagination></app-pagination>
  </div>
</div>

<ng-template #notfound>
  <h5 *ngIf="!isLoading">
    Товарів не знайдено :(
  </h5>
</ng-template>

